.page {
  min-width: 1100px; /*Ancho mínimo*/
  max-width: 1600px; /*Ancho máximo*/
  /*margin: 0 auto; Centra el bloque en pantallas más grandes */
  font-family: "Inter", Arial, sans-serif; /* Inter con alternativas */
  font-size: 16px; /* Tamaño de fuente */
  line-height: 20px; /* Altura de línea */
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
}

.noto-serif {
  font-family: "Noto Serif", "Times New Roman", serif; /* Noto Serif con alternativas */
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #FFFFFF;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
  padding-bottom: 40px;
}

.header__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header__logo{
  display: flex;
  position: relative;
  padding-top: 30px;
  padding-left: 30px;
  width: 105px;
  height: 39px;
}

.header__nav{
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;

}

.header__nav_links{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  text-decoration: none;
  list-style-type: none;
}

.header__nav_link{
  display: flex;
  gap: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  padding-top: 30px;
  padding-right: 80px;
  text-decoration: none;
}

.header__content{
  display: flex;
  /* background-color: bisque; */
  width: 100%;
}

.header__content_text{
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 20px;
}

.header__title{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  max-width: 709px;
  padding-left: 80px;
  /* padding-top: 183px; */
  padding-bottom: 28px;


  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;

}

.header__span_accent{
  /* background-color: greenyellow; */
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2F80ED;
}

.header__description{

  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 28px; */

  padding-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image{
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}



.header__footer {

  /* background-color: gold; */
  display: flex;
  justify-content: space-between;
  /* align-content: flex-end; */
  width: 100%;
  max-width: 1440px;
  /* margin: 0 auto; */
  /* padding-bottom: 40px; */
}

.header__footer_logo{
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;

  padding-left: 80px;
  /* padding-bottom: 40px; */
  align-content: flex-end;
  width: 50%;
}

.header__paragraph{
  display: flex;
  align-items: flex-end;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  padding-right: 80px;
  /* padding-bottom: 40px; */

  margin: 0;
}

.content {
  background: #0a2750;
  display: flex;
  flex-direction: column;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-position: center;

}

.recipes{
  display: flex;
  flex-direction: column;
}

.recipes__title{
  max-width: 580px;
  margin-top: 100px;
  margin-left: 80px;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle{
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
  color: #ffffff;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 215px;
  gap: 40px;
}

.recipes__video-caption{
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe{
  border: none;
}