/* @import url(../vendor/normalize.css); */

/* .page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-right: auto;
  margin-left: auto;
} */

@import url(../blocks/pages.css);

/* .header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #FFFFFF;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
  padding-bottom: 40px;
  height: 100vh;
} */

@import url(../blocks/header.css);

/* .nav{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;

  margin-bottom: 0;
  margin-top: 0;
}

.nav__logo{
  display: flex;
  position: relative;
  padding-top: 30px;
  padding-left: 30px;
  width: 105px;
  height: 39px;
}

.nav__links{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  padding-top: 30px;
  padding-right: 80px;
  gap: 20px;
  width: 100%;


  list-style-type: none;
}

.nav__link{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
} */

@import url(../blocks/nav.css);

/* .header__title{
  display: flex;
  flex-direction: column;
  max-width: 709px;
  padding-left: 80px;
  padding-bottom: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;

}

.header__span_accent{
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2F80ED;
}

.header__description{
  padding-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image{
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
}

.header__footer_logo{
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  align-content: flex-end;
  width: 50%;
}

.header__paragraph{
  display: flex;
  align-items: flex-end;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  padding-right: 80px;
  margin: 0;
} */

@import url(../blocks/content.css);
/* .content {
  display: flex;
  flex-direction: column;
} */

@import url(../blocks/recipes.css);

/* .recipes{
  display: flex;
  flex-direction: column;
  background: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-position: center;
}

.recipes__title{
  max-width: 580px;
  margin-top: 100px;
  margin-left: 80px;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle{
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
  color: #ffffff;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 215px;
  gap: 40px;
}

.recipes__video-caption{
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe{
  border: none;
} */

@import url(../blocks/reservation.css);

/* .reservation {
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 120px;
  background-color: #D9E7FF;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.reservation__title{
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form{
  box-sizing: border-box;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset{
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:center ;
  border: 0px solid #A0B4D8;
}

.reservation__label{
  display: flex;
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  padding-bottom: 8px;
  gap: 12px;
}

.reservation__input{
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  margin-bottom: 32px;
  border: 1px solid #838383;
  border-radius: 4px;
  padding-left: 20px;
  padding-top: 15px;

  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.reservation__button{
  width: 100%;
  height: 60px;
  background-color: #2F80ED;
  border: none;
  color: #FFFFFF;
  margin-bottom: 32px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.reservation__button:hover{
  opacity: 70%;
}

.reservation__checkbox{
  border-radius: 2px;
} */

@import url(../blocks/footer.css);